page-login {

  .Background {
    // background-image: url('../../assets/imgs/BgLogin.jpg');
     //background: linear-gradient(red, yellow);
  }

  .Bg-Transparent{
    background: transparent;
    color: black;
  }

  .color-icon{
    color: #9A9A9A;
  }

  .color-error{
    color: red;
  }

  .button.BtnLogin{
    width:90%;
    background-color:map-get($theme,second-color);
    background: $background-gradient;
    color:white;
    border-color: white;
  }

  .button.BtnRegister{
    width:90%;
    color:map-get($theme,second-color);
    border-color: map-get($theme,second-color);
    margin-bottom: 20px;
  }

  .logoImg{
    height: 300px;
    width: auto;
    margin: auto;
    display: block;
    padding-top:50px;
  }

  .button-ios.activated,
  .button-md.activated,
  .button-outline-md:hover:not(.disable-hover) {
      background-color: transparent;
      color: map-get($theme, second-color)
  }

}


