<ion-header>
  <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">

    <button mode="ios" ion-button icon-only clear (click)="toHome()">
      <ion-icon name="ios-arrow-dropleft-outline" class="color-white"></ion-icon>
    </button>
    <ion-title>{{group_name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item no-lines>
      <ion-label>ชื่อห้องเรียน</ion-label>
      <ion-input type="text" [(ngModel)]="group_name_change"></ion-input>
      <button *ngIf="group_name != group_name_change && group_name_change !=''"  ion-button item-right (click)="changeGroupname()" >บันทึก</button>
  </ion-item>
  <ion-item-group>
    <ion-item-divider>คาบเรียน
      <ion-icon *ngIf="subject.length <=2" class="icon-divider" name="add" color="primary" (click)="addDayTime('Add')"></ion-icon>
    </ion-item-divider>
  </ion-item-group>

  <ion-list>  
      <ion-item-sliding *ngFor="let item of subject; let i = index">
        <ion-item>
        <h2 *ngIf="item.day =='sun'">วันอาทิตย์</h2>
        <h2 *ngIf="item.day =='mon'">วันจันทร์</h2>
        <h2 *ngIf="item.day =='tue'">วันอังคาร</h2>
        <h2 *ngIf="item.day =='wed'">วันพุธ</h2>
        <h2 *ngIf="item.day =='thu'">วันพฤหัสบดี</h2>
        <h2 *ngIf="item.day =='fri'">วันศุกร์</h2>
        <h2 *ngIf="item.day =='sat'">วันเสาร์</h2>
        <p>Time : {{item.start}} - {{item.end}}</p>
        <ion-note item-end>
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>
        <ion-item-options side="right">
            <button ion-button color="primary" (click)="editDayTime(item)">
                <ion-icon name="create"></ion-icon>
                Edit
            </button>
            <button ion-button color="danger" (click)="removeDayTime(item)">
                <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
      </ion-item-sliding>

    <ion-item *ngIf="subject.length ==0" no-lines>
        กรุณาสร้าง Classroom
      </ion-item>
  </ion-list>
</ion-content>
