<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">

      <button mode="ios" ion-button icon-only clear (click)="backPage();">
        <ion-icon name="ios-arrow-dropleft-outline" class="color-white"></ion-icon>
      </button>

      <ion-title mode="ios">Register</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
    <form [formGroup]="regForm" (ngSubmit)="toRegister()">

        <ion-item>
          <ion-label floating > Email : </ion-label>
          <ion-input formControlName="email" clearInput type="text" ></ion-input>
          <!-- <ion-icon item-end name="ios-contact-outline"></ion-icon> -->
        </ion-item>

        <span *ngIf="regForm.controls.email.errors?.emailchk && (regForm.controls.email.dirty || regForm.controls.email.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> Email นี้ถูกใช้งานไปแล้ว
          </ion-label>
        </span>

        <span *ngIf="regForm.controls.email.errors?.email && (regForm.controls.email.dirty || regForm.controls.email.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> รูปแบบของ Email ไม่ถูกต้อง
          </ion-label>
        </span>

        <ion-item>
          <ion-label floating > Password : </ion-label>
          <ion-input formControlName="password" clearInput type="password"></ion-input>
          <!-- <ion-icon item-end name="ios-lock-outline"></ion-icon> -->
        </ion-item>

        <span *ngIf="regForm.controls.password.errors?.required && (regForm.controls.password.dirty || regForm.controls.password.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> กรุณาใส่รหัสผ่าน
          </ion-label>
        </span>

        <ion-item>
          <ion-label floating >Confirm Password : </ion-label>
          <ion-input formControlName="confirmPassword" clearInput type="password"></ion-input>
          <!-- <ion-icon item-end name="ios-lock-outline"></ion-icon> -->
        </ion-item>

        <span *ngIf="regForm.controls.confirmPassword.errors?.MatchPassword && (regForm.controls.confirmPassword.dirty || regForm.controls.confirmPassword.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> รหัสผ่านของคุณไม่ตรงกัน, กรุณาใส่อีกครั้ง
          </ion-label>
        </span>

        <ion-item>
          <ion-label floating >First name : </ion-label>
          <ion-input formControlName="firstname" clearInput type="text"></ion-input>
          <!-- <ion-icon item-end name="ios-person-outline"></ion-icon> -->
        </ion-item>

        <span *ngIf="regForm.controls.firstname.errors?.required && (regForm.controls.firstname.dirty || regForm.controls.firstname.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> กรุณาใส่ชื่อ
          </ion-label>
        </span>

        <ion-item>
          <ion-label floating >Last name : </ion-label>
          <ion-input formControlName="lastname" clearInput type="text"></ion-input>
          <!-- <ion-icon item-end name="ios-person-outline"></ion-icon> -->
        </ion-item>

        <span *ngIf="regForm.controls.lastname.errors?.required && (regForm.controls.lastname.dirty || regForm.controls.lastname.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> กรุณาใส่นามสกุล
          </ion-label>
        </span>

        <ion-item>
          <ion-label floating >Student ID : </ion-label>
          <ion-input formControlName="studentid" clearInput type="text" maxlength="10"></ion-input>
          <!-- <ion-icon item-end name="ios-contacts-outline"></ion-icon> -->
        </ion-item>

        <span *ngIf="regForm.controls.studentid.errors?.student && (regForm.controls.studentid.dirty || regForm.controls.studentid.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> รหัสนักศึกษาถูกใช้งานไปแล้ว
          </ion-label>
        </span>

        <span *ngIf="regForm.controls.studentid.errors?.required && (regForm.controls.studentid.dirty || regForm.controls.studentid.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> กรุณาใส่รหัสนักศึกษา
          </ion-label>
        </span>


        <ion-item>
          <ion-label floating>Faculty :</ion-label>
          <ion-select [selectOptions]="FacultyOption" formControlName="faculty"  class="myCustomSelect">
              <ion-option value="Eng">คณะวิศวกรรมศาสตร์</ion-option>
              <ion-option value="IT">คณะเทคโนโลยีสารสนเทศ</ion-option>
              <ion-option value="BA">คณะเทคบริหารธุรกิจ</ion-option>
          </ion-select>
      </ion-item>


        <span *ngIf="regForm.controls.faculty.errors?.required && (regForm.controls.faculty.dirty || regForm.controls.faculty.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> กรุณาเลือกคณะ
          </ion-label>
        </span>



        <ion-item no-lines item-start>
          <ion-select *ngIf="regForm.value.faculty == 'Eng'"  [selectOptions]="MajorOption" placeholder="Select Majoy" formControlName="major">
              <ion-option value="AE">สาขาวิศวกรรมยานยนต์ (AE)</ion-option>
              <ion-option value="PE">สาขาวิศวกรรมการผลิต (PE)</ion-option>
              <ion-option value="CE">สาขาวิศวกรรมคอมพิวเตอร์ (CE)</ion-option>
              <ion-option value="IE">สาขาวิศวกรรมอุตสาหการ (IE)</ion-option>
              <ion-option value="EE">สาขาวิศวกรรมไฟฟ้า (EE)</ion-option>
          </ion-select>
          <ion-select *ngIf="regForm.value.faculty == 'IT'"  [selectOptions]="MajorOption" placeholder="Select Majoy" formControlName="major">
            <ion-option value="IT">สาขาเทคโนโลยีสารสนเทศ (IT)</ion-option>
            <ion-option value="MT">สาขาเทคโนโลยีมัลติมีเดีย (MT)</ion-option>
            <ion-option value="BI">สาขาเทคโนโลยีสารสนเทศทางธุรกิจ (BI)</ion-option>
            <ion-option value="DC">สาขาเทคโนโลยีดิจิทัลทางสื่อสารมวลชน (DC)</ion-option>
          </ion-select>
          <ion-select *ngIf="regForm.value.faculty == 'BA'"  [selectOptions]="MajorOption" placeholder="Select Majoy" formControlName="major">
            <ion-option value="MI">สาขาการจัดการเทคโนโลยีและนวัตกรรมการผลิต (MI)</ion-option>
            <ion-option value="BJ">สาขาบริหารธุรกิจญี่ปุ่น (BJ)</ion-option>
            <ion-option value="IB">สาขาการจัดการธุรกิจระหว่างประเทศ (IB)</ion-option>
            <ion-option value="AC">สาขาการบัญชี (AC)</ion-option>
            <ion-option value="HR">สาขาการจัดการทรัพยากรมนุษย์แบบญี่ปุ่น (HR)</ion-option>
            <ion-option value="LM">สาขาการจัดการโลจิสติกส์และโซ่อุปทาน (LM)</ion-option>
            <ion-option value="CM">สาขาการตลาดเชิงสร้างสรรค์ (CM)</ion-option>
            <ion-option value="TH">สาขาการจัดการกรท่องเที่ยวและการบริการเชิงนวัตกรรม(TH)</ion-option>
          </ion-select>
          <ion-select *ngIf="regForm.value.faculty == null"  [selectOptions]="MajorOption" placeholder="Select Majoy" formControlName="major">
          </ion-select>
      </ion-item>

        <span *ngIf="regForm.controls.major.errors?.required && (regForm.controls.major.dirty || regForm.controls.major.touched)">
          <ion-label class="color-red">
            <ion-icon name="md-information-circle"></ion-icon> กรุณาเลือกสาขา
          </ion-label>
        </span>

        <div text-center>
        <button class="BtnRegister" ion-button round outline type="submit" [disabled]="regForm.invalid">Register</button>
        </div>

      </form>

</ion-content>
