page-register {
  // .myCustomSelect{
  //     max-width: 100% !important;
  //   }

  .button.BtnRegister{
    width:90%;
    background-color:map-get($theme,second-color);
    //background: linear-gradient(to bottom right,#20ABE6, rgb(103, 180, 212));
    background: $background-gradient;
    color:white;
    border-color: white;
  }

  ion-select{
    width: 100%;
    max-width: 100%;
  }

  .color-error{
    color: red;
  }

  .header-toolbar {
    .toolbar-background {
      background: $background-gradient;
    }
  }

.color-icon{
  color: white;
}

.toolbar-title-ios {
  color: white;
}

}
