<!-- <ion-header>

  <ion-navbar>
    <ion-title *ngIf="group_name == null">addclassroom</ion-title>

    <ion-title *ngIf="group_name != null">Setting</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">

    <button mode="ios" ion-button icon-only clear (click)="backPage();">
      <ion-icon name="ios-arrow-dropleft-outline" class="color-white"></ion-icon>
    </button>

    <ion-title mode="ios" *ngIf="group_name == null">addclassroom</ion-title>

    <ion-title mode="ios" *ngIf="group_name != null">Setting</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <form [formGroup]="AddClassroomForm" (ngSubmit)="toCreateclassroom()">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-input formControlName="classname" clearInput type="text" placeholder="Class Name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div *ngIf="AddClassroomForm.value.classname">
      <ion-item-group>
        <ion-item-divider>Teach List
          <ion-icon *ngIf="subject.length <=2" class="icon-divider" name="add" color="primary" (click)="addDayTime('Add')"></ion-icon>
        </ion-item-divider>
      </ion-item-group>


      <!-- <ion-item *ngIf="subject == ''" no-lines>
        <ion-label>กรุณาเพิ่มวันที่สอน</ion-label>
      </ion-item> -->

      <!-- <ion-item no-lines>
      <ion-card *ngFor="let item of subject; let i = index">
        <ion-card-header>
          <ion-item>
            <ion-label *ngIf="item.day =='sun'">วันอาทิตย์</ion-label>
            <ion-label *ngIf="item.day =='mon'">วันจันทร์</ion-label>
            <ion-label *ngIf="item.day =='tue'">วันอังคาร</ion-label>
            <ion-label *ngIf="item.day =='wed'">วันพุธ</ion-label>
            <ion-label *ngIf="item.day =='thu'">วันพฤหัสบดี</ion-label>
            <ion-label *ngIf="item.day =='fri'">วันศุกร์</ion-label>
            <ion-label *ngIf="item.day =='sat'">วันเสาร์</ion-label>
            <button ion-button icon-only item-right clear type="button" (click)="removeDayTime(item)" >
              <ion-icon name="trash"></ion-icon>
              DELETE
            </button>
            <button ion-button icon-only type="button" item-right clear (click)="editDayTime('Edit',item)">
              <ion-icon name="md-create"></ion-icon>
              EDIT
            </button>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Start {{item.start}}</ion-label>
          <ion-label>End {{item.end}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item> -->

    <ion-list>
        <ion-item-sliding *ngFor="let item of subject; let i = index">
          <ion-item>
          <h2 *ngIf="item.day =='sun'">วันอาทิตย์</h2>
          <h2 *ngIf="item.day =='mon'">วันจันทร์</h2>
          <h2 *ngIf="item.day =='tue'">วันอังคาร</h2>
          <h2 *ngIf="item.day =='wed'">วันพุธ</h2>
          <h2 *ngIf="item.day =='thu'">วันพฤหัสบดี</h2>
          <h2 *ngIf="item.day =='fri'">วันศุกร์</h2>
          <h2 *ngIf="item.day =='sat'">วันเสาร์</h2>
          <p>Time : {{item.start}} - {{item.end}}</p>
          <ion-note item-end>
              <ion-icon name="arrow-forward"></ion-icon>
          </ion-note>
        </ion-item>
          <ion-item-options side="right">
              <button ion-button color="primary" (click)="editDayTime('Edit',item)"  type="button">
                  <ion-icon name="create"></ion-icon>
                  Edit
              </button>
              <button ion-button color="danger"  (click)="removeDayTime(item)" type="button">
                  <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
        </ion-item-sliding>

      <ion-item *ngIf="subject.length ==0" no-lines>
          <img src="../../assets//imgs/classes.png">
        </ion-item>
    </ion-list>

    </div>

    <div text-center>
      <button class="BtnAddClass" ion-button type="submit" [disabled]="!(AddClassroomForm.valid) || !(subject.length > 0)">NEXT</button>
    </div>

  </form>

</ion-content>
