page-editsubject-modal {

  .toolbar-title-ios {
    color: white;
  }

  .button.BtnEdit{
    width:90%;
    background-color:map-get($theme,second-color);
    background: $background-gradient;
    color:white;
    border-color: white;
  }

}
