
<ion-header>
  <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">

    <button mode="ios" ion-button icon-only clear (click)="toHome()">
      <ion-icon name="ios-arrow-dropleft-outline" class="color-white"></ion-icon>
    </button>
    <ion-title mode="ios">{{group_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
    <ion-list *ngIf="student != 0">
        <ion-list-header style="backgroud-color:black;">   
          <div float-left>
            <h2 style="color:black;"><b>สมาชิก</b></h2>
          </div>
          <div float-right>
            จำนวน : {{student.length}} คน
          </div>
        </ion-list-header>
          <ion-item *ngFor="let item of student" (click)="gotoHistory(item)" >
                <h2>{{item.fullname}}</h2>
          </ion-item>
      </ion-list>

      <ion-item no-lines>
        <img style="margin-top: 20%;" *ngIf="student == 0" src="../../assets//imgs/dontStudent.png">
      </ion-item>
</ion-content>
