<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>home</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="_role == 0">
        <ion-icon name="add"></ion-icon>
      </button>

      <button ion-button *ngIf="_role == 1" (click)="toAddClassroom()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item *ngIf="classroom == ''" no-lines>
    กรุณาสร้าง Classroom
  </ion-item>

  <ion-card *ngFor="let item of classroom" >
    <ion-card-header>
      <ion-item >
        <ion-label (click)="toClassroom(item)">
            {{item.group_name}}
        </ion-label>

        <button ion-button icon-only item-right clear type="button" (click)="removeClassroom(item)">
          <ion-icon name="trash"></ion-icon>
          DELETE
        </button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Invite Code : {{item.invite_code}}</ion-label>
    </ion-card-content>
  </ion-card>

  <!-- <ion-list>
      <ion-item-sliding *ngFor="let item of classroom">
        <ion-item (click)="toClassroom()">
            {{item.group_name}}
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="favorite(item)">Favorite</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options>
    
        <ion-item-options side="right">
          <button ion-button (click)="removeClassroom(item)">Delete</button>
          <button ion-button color="danger">Code Invite</button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list> -->


  <ion-fab right bottom *ngIf="_role == 0">
      <button ion-fab><ion-icon name="arrow-dropleft"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab><ion-icon name="camera"></ion-icon></button>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

  <ion-fab right bottom  *ngIf="_role == 1">
    <button ion-fab (click)="toAddClassroom()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>