<ion-header>
  <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-white"></ion-icon>
    </button>
    <ion-title mode="ios">HOME</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="_role == 0" (click)="joinClassroom()">
        <ion-icon name="add" class="color-white"></ion-icon>
      </button>

      <button ion-button *ngIf="_role == 1" (click)="toAddClassroom()">
        <ion-icon name="add" class="color-white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-list *ngIf="classroom != 0">
    <ion-list-header>
      <div text-center>
        <h2 style="color:black;"><b>ห้องเรียน</b></h2>
      </div>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of classroom">
      <ion-item (click)="toClassroom(item)">
        <h2>{{item.group_name}}</h2>
        <p>Invaite Code : {{item.invite_code}}</p>
        <ion-note item-end>
          <ion-icon name="arrow-dropleft"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="share" (click)="shareClassroom(item)"></ion-icon>
          Share
        </button>
        <button ion-button color="danger" (click)="removeClassroom(item)" type="button">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-item *ngIf="classroom == 0" no-lines>
    <!-- กรุณากด + เพื่อเพิ่มห้องเรียน -->
    
    

    <div>
      <img src="../../assets/imgs/createorjoin.png">
    </div>
    <div style="padding-top: 20px;">
      <img src="../../assets//imgs/classes.png">
    </div>
  </ion-item>
  <!-- </ion-item> -->
  <!-- <ion-item *ngIf="subject.length ==0" no-lines>
    <img src="../../assets//imgs/classes.png">
  </ion-item> -->




  <ion-fab right bottom *ngIf="_role == 0">
    <button ion-fab>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="scanQR()" >
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-fab (click)="joinClassroom()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab right bottom *ngIf="_role == 1">
    <button ion-fab (click)="toAddClassroom()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>