page-addclassroom-date-modal {
  .toolbar-title-ios {
    color: white;
  }

  .button.BtnAddDate{
    width:90%;
    background-color:map-get($theme,second-color);
    background: $background-gradient;
    color:white;
    border-color: white;
  }

}
