<ion-header>
  <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu" class="color-white"></ion-icon>
    </button> -->
    <button mode="ios" ion-button icon-only clear (click)="toHome()">
        <ion-icon name="ios-arrow-dropleft-outline" class="color-white"></ion-icon>
      </button>
    <ion-title mode="ios">HOME STUDENT</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="topic == 'news'" (click)="goToLeavemodal()"  >
        <ion-icon name="add" class="color-white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top>
    <ion-segment padding [(ngModel)]="topic">
      <ion-segment-button value="history">
        <ion-label class="labeltextcolor">History</ion-label>
      </ion-segment-button>
      <ion-segment-button value="news" checked>
        <ion-label class="labeltextcolor">News</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>

</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

  <div *ngIf="topic == 'history'">
      <ion-list *ngIf="subject != 0">
          <ion-list-header>
            <div text-center>
                <h2 style="color:black;"><b>ประวัติการเช็คชื่อเข้าเรียน</b></h2>
              </div>
          </ion-list-header>


            <ion-item *ngFor="let item of subject">
              <h2>วันที่ {{item.day}} เวลา {{item.time}}</h2>
              <!-- // 0 มา, 1 สาย, 2 ขาด , 3 ลา -->
              <p *ngIf="item.status == 0">สถานะ : เข้าเรียนปกติ</p>
              <p *ngIf="item.status == 1">สถานะ : เข้าเรียนสาย</p>
              <p *ngIf="item.status == 2">สถานะ : ไม่เข้าเรียน</p>
              <p *ngIf="item.status == 3">สถานะ : ลา</p>
              <ion-note item-end>
                  <ion-icon *ngIf="item.status == 0" style="color:#32db64" name="radio-button-on"></ion-icon>
                  <ion-icon *ngIf="item.status == 1" style="color:rgb(238, 95, 0)" name="radio-button-on"></ion-icon>
                  <ion-icon *ngIf="item.status == 2" style="color:#f53d3d" name="radio-button-on"></ion-icon>
                  <ion-icon *ngIf="item.status == 3" style="color:#488aff" name="radio-button-on"></ion-icon>
              </ion-note>
            </ion-item>
        </ion-list>
        <ion-item no-lines>
          <img style="margin-top: 15%;" *ngIf="subject == 0" src="../../assets//imgs/dontScheduleStu.png">
        </ion-item>

  </div>



  <div *ngIf="topic == 'news'">
    <ion-list *ngIf="leave != 0">
        <ion-list-header>
            <div text-center>
                <h2 style="color:black;"><b>ประวัติการแจ้งขอลาหยุด</b></h2>
              </div>
        </ion-list-header>


          <ion-item-sliding *ngFor="let item of leave">
            <ion-item>
                <h2>ขอลาวันที่ {{item.date_start}} - {{item.date_end}}</h2>
                <p *ngIf="item.status == 1">สถานะ : ผ่าน</p>
                <p *ngIf="item.status == 2">สถานะ : ไม่ผ่าน</p>
                <p *ngIf="item.status == 0">สถานะ : กำลังตรวจสอบ</p>
                <ion-note item-end>
                    <ion-icon *ngIf="item.status == 1" style="color:#32db64" name="radio-button-on"></ion-icon>
                    <ion-icon *ngIf="item.status == 2" style="color:#f53d3d" name="radio-button-on"></ion-icon>
                    <ion-icon *ngIf="item.status == 0" style="color:rgb(238, 95, 0)" name="radio-button-on"></ion-icon>
                </ion-note>
            </ion-item>
            <ion-item-options side="right" *ngIf="item.status == 0">
              <button ion-button color="danger" (click)="removeleave(item)" type="button">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>

          </ion-item-sliding>
      </ion-list>

      
      <ion-item no-lines>
        <img style="margin-top: 15%;" *ngIf="leave == 0" src="../../assets//imgs/dontScheduleStu.png">
      </ion-item>
</div>
</ion-content>
