page-home-student {
  .toolbar-title-ios {
    color: white;
  }

  .labeltextcolor{
    color: #FFBB00;
    margin-top: 0;
  }
  .labeltextcolor2{
    color: #3F681C;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #e6a700;
  }


}
