<ion-header>
  <ion-toolbar class="header-toolbar" style="height: unset;" mode="ios">

    <ion-buttons right>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="close" class="color-white"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">ADD LEAVE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
      <ion-row class="border-bottom">
    <ion-item no-lines>
      <ion-label>วันที่ลา</ion-label>
      <ion-datetime formControlName="startdate"></ion-datetime>
    </ion-item>

    <span
      *ngIf="leaveForm.controls.startdate.errors?.required && (leaveForm.controls.startdate.dirty || leaveForm.controls.startdate.touched)">
      <ion-label class="color-red">
        <ion-icon name="md-information-circle"></ion-icon> กรุณาเลือกวันที่
      </ion-label>
    </span>
    </ion-row>


    <ion-row class="border-bottom">

    <ion-item no-lines>
      <ion-label>ถึงวันที่</ion-label>
      <ion-datetime formControlName="enddate"></ion-datetime>
    </ion-item>

    <span *ngIf="leaveForm.controls.enddate.errors?.required && (leaveForm.controls.enddate.dirty || leaveForm.controls.enddate.touched)">
      <ion-label class="color-red">
        <ion-icon name="md-information-circle"></ion-icon> กรุณาเลือกวันที่
      </ion-label>
    </span>

    <span
      *ngIf="leaveForm.controls.enddate.errors?.MatchDate && (leaveForm.controls.enddate.dirty || leaveForm.controls.enddate.touched)">
      <ion-label class="color-red">
        <ion-icon name="md-information-circle"></ion-icon> สามารถลาหยุดได้มากสุด 3 วัน
      </ion-label>
    </span>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-item no-lines>
        <ion-label>รายละเอียด</ion-label>
        <ion-textarea formControlName="detail" rows="2"></ion-textarea>
      </ion-item>
      <span
        *ngIf="leaveForm.controls.detail.errors?.required && (leaveForm.controls.detail.dirty || leaveForm.controls.detail.touched)">
        <ion-label class="color-red">
          <ion-icon name="md-information-circle"></ion-icon> กรุณาระบุรายละเอียด
        </ion-label>
      </span>
    </ion-row>


    <ion-row class="border-bottom" *ngIf="!leaveForm.value.picture" (click)="selectPhoto()">
      <ion-item no-lines>
        <ion-label class="label-content">รูปภาพ</ion-label>
        <ion-icon name="camera" item-end></ion-icon>
      </ion-item>
    </ion-row>


    <ion-row class="border-bottom" *ngIf="leaveForm.value.picture" (click)="selectPhoto()">
      <ion-item no-lines>
        <div item-start>
          <p style="color: green">
            <ion-icon name="checkmark-circle"></ion-icon> Upload Image Success
          </p>
        </div>

        <ion-thumbnail float-right>
          <img [src]="img_source">
        </ion-thumbnail>
        <ion-icon name="camera" item-end></ion-icon>
      </ion-item>
    </ion-row>

    <div text-center>
      <button class="BtnSend" ion-button  type="submit" [disabled]="leaveForm.invalid">Send</button>
    </div>

  </form>



</ion-content>
