/* - Align Format - */
.align-center{
float: none;
margin:0 auto;
}
.align-right{
float: right;
}
.align-left {
float: left;
}
.align-middle{
vertical-align: middle;
}
.align-top{
vertical-align: top;
}
.align-bottom{
vertical-align: bottom;
}
.text-center{
text-align: center;
}
.text-right{
text-align: right;
}
.text-left {
text-align: left;
}
